{% if page.url contains '.json' %}
{% include generate_ring_json.json slug=page.slug %}
{% else %}
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>[Webring] {{ page.name }} - Critter Webring</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    <h1>{{ page.name }}</h1>
    <h2>Description</h2>
    <p>{{ page.description }}</p>
    <h3>Programmatic Representation:</h3>
    See <a href="/api/rings/{{page.slug}}.json">API</a>
    <h2>Members</h2>
    <ul>
        {% for site in site.data.sites %}
            {% if site.rings contains page.slug %}
                 <li>
                    <div style="display: flex; flex-direction: column;">
                        <span>{{ site.name }} - <a href="{{ site.link }}">{{ site.link }}</a></span>
                        <span style="font-size: smaller">{{ site.description }}</span>
                    </div>
                 </li>
            {% endif %}
        {% endfor %}
    </ul>
    <br />
    <hr />
    <br />
    <h2>Show the webring resources on your page!</h2>
    <p>If you are a member of the webring, use the following (or implement your own version):</p>
    {%- capture display_md -%}{%- include display_webring.md slug=page.slug -%}{%- endcapture -%}
    <div id="webring-code" style="margin: auto; padding: 20px; display: flex; background: lightgray; max-width: 800px;">
        <pre style="white-space: pre-wrap;">
            {{- display_md | escape -}}
        </pre>
    </div>
    <p>This will render like this if you are a part of the webring:</p>
    {%- capture display_md_simulate_good -%}{%- include display_webring.md slug=page.slug sim="true" sim_type="good" -%}{%- endcapture -%}
    <div id="webring-preview">
        {{ display_md_simulate_good | markdownify }}
    </div>
    <p>And like this if you are not a part of the webring:</p>
    {%- capture display_md_simulate -%}{%- include display_webring.md slug=page.slug sim="true" sim_type="bad" -%}{%- endcapture -%}
    <div id="webring-preview-bad">
        {{ display_md_simulate | markdownify }}
    </div>
    <h2>Joining "{{page.name}}"</h2>
    <p>To join this webring, please visit the <a href="{{ site.repo }}" target="_blank">Github repo</a>, and open a PR that updates <code>_data/sites.yml</code>. Detailed instructions on formatting are included in the repo's README.md file.</p>
  </body>
</html>
{% endif %}
